@import 'partial/player';

@import 'partial/center';
@import 'partial/filters';
@import 'partial/playlist';


html, body{
  height:100%;
  font-family: 'Roboto', sans-serif;
  button.righted {
    float: right;
    width: 50px;
  }
}
