{erl_opts, [debug_info]}.

{deps, [
    {erlydtl,  {git, "git://github.com/erlydtl/erlydtl.git",    {branch, stable}}},
    {cowboy,   {git, "git://github.com/ninenines/cowboy.git",   {tag, "1.1.2"}}},
    {jsx,      {git, "git://github.com/talentdeficit/jsx.git",  {branch, "v2.8.2"}}},
    {flactags, {git, "git://github.com/black13ua/flactags.git", {branch, master}}}
]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
]}.

{erlydtl_opts, [
    {doc_root,   "priv/www/templates"}
]}.

{relx, [{release, { wmb, "0.1.0" },
         [wmb, sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
           }]
}.
