img.album_cover {
    align:left;
    width:250px;
    height:250px;
}

table.album {
    background-color: white;
    width: 100%;
}

table.main {
    background-color: #DCDCDC;
    border-collapse: collapse;
    width: 60%;
}

table.tracks {
    background-color: #F0F8FF;
    width: 100%;
}

table.tracks button.play-button {
    background: #ff8080;
}

table.tracks button.play-button.active {
    background: #990000;
}

table.tracks button.add-button {
    background: #80ffff;
}

table.tracks button.add-button.active {
    background: #006666;
}

table, td, th {
    border: 1px solid black;
}
