.aside-left {
    float: left;
    width: 20%;
    position: fixed;
    left: 0;
    .random {
        padding: 5px;
        text-align: center;
        button.add-random {

        }
        label {

        }
    }
    section.filters{
        .second--sub--menu {
            margin-left: 30px;
            list-style-type: none;
        }
        button.button--hover {
            outline: none;
            &:hover {
                background: lightgoldenrodyellow;
                color: #0275d8;
            }
            &.active {
                i.fa {
                    transform: scale(1.5);
                }
                &:hover {
                    background: aqua;
                }
            }
            span.badge {
                background: grey;
                margin-right: 5px;
            }
        }
        i.fa {
            position: absolute;
            right: 15px;
        }
    //     text-align: center;
    //     font-size: 24px;
    //     padding: 5px;
    //     & > article {
    //         margin: 17px 0;
    //         text-align: center;
    //         h3 {

    //         }
    //         .sub--menu--header {
    //             display: block;
    //             &.active {
    //                 background-color: deeppink;
    //             }
    //             b {
    //                 margin-right: 10px;
    //                 background-color: aqua;
    //                 display: inline-block;
    //                 width: 30px;
    //                 height: 30px;
    //                 border-radius: 15px;
    //             }
    //         }
    //         ul.filter--options {
    //             list-style-type: none;
    //         }
    //     }
    //     .filters-head {

    //     }
    //     .filter-genres {

    //     }
    //     .filter-date {

    //     }
    //     .filter-name {

    //     }
    }
}
