.aside-left {
    float: left;
    width: 20%;
    position: fixed;
    left: 0;
    .random {
        padding: 5px;
        text-align: center;
        button.add-random {

        }
        label {

        }
    }
    .filters{
        text-align: center;
        font-size: 24px;
        padding: 5px;
        & > div {
            margin: 7px 0;
            text-align: center;
        }
        .filters-head {

        }
        .filter-genres {

        }
        .filter-date {

        }
        .filter-name {

        }
    }
}