section.playlist--wrapper {
    .playlist--item {
        display   : 'block';
        margin    : '3px';
        cursor    : 'pointer';
        transform : 'scale(1.1, 1.1)';
        box-shadow: '4px 4px 5px 0px rgba(0,0,0,0.75)';
        position  : 'relative';
        right     : '4px';
        bottom    : '4px';
    }
}
